<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>


	<div id="inicio" class="container-fluid table" >
		<h4>Lista dos Funcionários</h4>
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Setor</th>
					<th>Salário</th>
					<th>Email</th>
					<th>Idade</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
		  <tbody id="event-table" >
			<tr v-for="funcionario in listaProdutos">
			  <td>{{ funcionario.nome }}</td> 
			  <td>{{ funcionario.setor.nome }}</td> 
			  <td>{{ funcionario.salario }}</td> 
			  <td>{{ funcionario.email }}</td> 
			  <td>{{ funcionario.idade }}</td>
			  <td><span @click="pages/novo-funcionario.htm">&#9998;</span>
				<span v-on:click="excluirFuncionario(funcionario)">&#10006;</span>
			  </td>
			</tr>
		  </tbody>
	  </table>
	  </div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>